.contributors
    padding 0.5em 0 0 1em
    .hidden
        display none

    .count::after
        content ')'

    .count::before
        content '('

    ul
        list-style-type none

    li
        margin-top 4px

    span
        vertical-align middle
        margin-left 10px

    img
        vertical-align middle
        &.round
            border-radius: 50%